<mat-dialog-content>
  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Width</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Length</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <h4>Basic native select</h4>
    <mat-form-field appearance="fill">
      <mat-label>Cars</mat-label>
      <select matNativeControl required>
        <option *ngFor="let type of types">{{type.description}}</option>
      </select>
    </mat-form-field>

  </div>
</mat-dialog-content>
