<!DOCTYPE>
<html lang="en">
<head>
<meta charset = "UTF-8">
<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Responsive box factory | By silamin </title>
<link rel ="stylesheet" href="style.css">
</head>
<body>
<div class ="wrapper">
  <h1>Welcome to your favorite box factory</h1>
  <div class="container">
    <div class="box">
      <img src="../images/magicBox.jpg">
      <h3>HTML</h3>
      <p>This is the magic box with a lot of surprises</p>
      <a href="#" class ="btn">read more</a>
    </div>
    <div class="box">
      <img src="../images/magicBox.jpg">
      <h3>HTML</h3>
      <p>This is the magic box with a lot of surprises</p>
      <a href="#" class ="btn">read more</a>
    </div>
    <div class="box">
      <img src="../images/magicBox.jpg">
      <h3>HTML</h3>
      <p>This is the magic box with a lot of surprises</p>
      <a href="#" class ="btn">read more</a>
    </div>
    <div class="box">
      <img src="../images/magicBox.jpg">
      <h3>HTML</h3>
      <p>This is the magic box with a lot of surprises</p>
      <a href="#" class ="btn">read more</a>
    </div>
    <div class="box">
      <img src="../images/magicBox.jpg">
      <h3>HTML</h3>
      <p>This is the magic box with a lot of surprises</p>
      <a href="#" class ="btn">read more</a>
    </div>
  </div>

</div>
</body>
</html>
